/*  */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu&display=swap'); */

body{
    font-family: "Montserrat";
    text-align: center;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900; 
}

p{
    color: #8f8f8f;
}

.container-fluid{
    padding: 7% 15%;
}

/* color section  */

.colored-section{
    background-color: #ff4c68;
    color: #fff;
}

.white-section{
 background-color: #fff;
}

/* Heading  */

.main-heading{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    /* font-style: italic; */
    font-size: 3.5rem;
    line-height: 1.5; 
}

.section-heading{
    font-size: 3rem;
    line-height: 1.5; 
}

/* navigation bar  */

.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;

}
/* download button */
.download-button{
    margin: 5% 3% 5% 0 ;
}

/* Title section  */

#title{
    background-color: #ff4c68;
    color: #fff;
    height: 630px;
    text-align: left;
}
#title .container-fluid{
    padding: 3% 15% 7%;
}

/* tital image  */

.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: relative;
    /* top: 25px; */
    left: 15%;
    /* right: 30%; */
}

/* Feature */

/* .red{
    background-color: red;
    width: 100px;
    height: 100px;
}

.fetr{
    text-align: center;
    margin: 100px;
} */
#features{
    /* margin-top: 800px; */
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.feature-title{
    font-size: 1.5rem;
}

.feature-box{
    padding: 4.5%;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}

/* Testimonial section */

#testimonials{
    /* padding: 7% 15%; */
    background-color: #ef8172;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}

/* Press  */

#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing */

#pricing{
    padding: 100px;
    text-align: center;
}

.price-text{
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-col{
    padding: 3% 2%;
}

@media screen and (max-width: 1028px){
    #title{
        height: 1400px;
    }
    .row{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}

/* call of action */

/* #cta{

  background-color: #ff4c68;
  color: #fff;
    text-align: center;
    /* height: 500px; */

 */

/* footer section  */

.social-icon {
    margin: 20px 10px;
}

footer .container-fluid{
    height: 50px;
    padding-top: 45px;
    /* margin-bottom: 25px; */
}










